run_dir = /home/luis/Documents/Research/projects/test_dasymetry/
input_dir = test_allnyc/
output_dir = output/

parcels_file = mappluto_nyc_2017_reduced.shp
parcels_fid = bbl
res_units = unitsres
lot_types = residential, misc, parks
parcel_fields = numfloors, landuse, lotarea, unitsres, geometry

population_file = ACS_TOTAL_POP.shp
population_fid = geoid
pop_name = totpop_e
block_fields = totpop_e, geometry

top_hh_size = 2.8
lot_types = residential, misc, parks
lot_codes_1 = 01, 02, 03, 04
lot_codes_2 = 08,
lot_codes_3 = 09, 11
top_den_allowed = 55, 5, 5
